Django
djangorestframework
djangorestframework-simplejwt
django-cors-headers
Pillow
python-decouple
psycopg2-binary
python-dateutil
gunicorn
whitenoise
dj-database-url
cloudinary
django-cloudinary-storage